<%= form_with(model: [load_model, comment]) do |form| %>
  <div class="field">
    <%= form.label :comment_content %>
    <%= form.text_area :comment_content, size: '50x5', required: true %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
